body {
    height: 100vh;
    padding: 0px;
    margin: 0px; 
}


.header-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-logo a {
    text-decoration: none;
}

.header-logo img {
    width: auto;
    height: 150px;
    border-radius: 100px;
}


.middle-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-form .cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}
.middle-form .cont > div {
    width: 100%;
}

.middle-form .logo {
    display: flex;
    justify-content: center;
}
.middle-form .logo img {
    width: 150px;
    height: 150px;
}

.middle-form .right-buttons {
    display: flex;
    justify-content: end;
}
.middle-form .right-buttons .w3-button {
    margin-left: 8px;
}
.post-cont img {
    border-radius: 25px;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.input-field span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bolder;
}
.input-field input {
    border: none;
    background-color: rgb(236, 236, 236);
    height: 40px;
}

